.list{
    display: flex;
    position: relative;
}

.side{
    /* display: none; */
}

.listContainer{
    display: flex;
    flex-direction: column;
    /* flex: 7; */
    /* padding-left: 160px; */
    /* position: absolute; */
    /* padding-left: 100px; */
    /* left: 160px; */
    /* border-left: 160px; */
    padding-left: 160px;
    /* width: 100%; */
    /* position: fixed; */
    justify-content: center;
    /* display: none; */
}


.Hello{
    background-color: red;
    margin-top: 60px;
    width: 200vh;
    margin-right: 0;
    padding-right:0;
}
/* .row{
    width: 200vh;
} */